<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sélectionner un jeu</title>
    <link crossorigin="anonymous"/>
</head>
<body>
<div class="container" margin="2rem">
    <h5>Liste des jeux</h5>

    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th scope="col">Liste des joueurs</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game: ${games}">
            <td th:text="${game.name}"/>
            <td><a th:href="@{/addRound/{id}(id=${game.getGameId()})}" class="btn btn-outline-warning btn-sm">Nouveau score</a></td>
        </tr>
        </tbody>
    </table>
</div>
<button>
    <a class="nav-link active" aria-current="page" th:href="@{/showNewGameForm}">Ajouter un nouveau jeu</a>
</button>
</body>
</html>
