<!DOCTYPE html>
<html lang="fr"xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Home - BoardData</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/owl.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
</head>

<body>



<!-- ***** HEADER ***** -->
<header class="header-area header-sticky">
    <div class="container container-custom">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** LOGO ***** -->
                    <a th:href="@{/index}" class="logo">
                        BOAR<span class="rotate-text">D</span>ATA
                    </a>
                    <!-- ***** LOGO END ***** -->

                    <!-- ***** MENU ***** -->
                    <ul class="nav">
<!--                        <div>-->
<!--                            <li><a th:href="@{/index}" class="active">Accueil</a></li>-->
<!--                            <li><a th:href="@{/chooseGame}">Liste des jeux</a></li>-->
<!--                            <li><a th:href="@{/friends}">Joueurs</a></li>-->
<!--                            <li><a th:href="@{/login}">Se connecter<img src="https://imgs.search.brave.com/pEJ8_8PZkxOBVsUXSmm-DaklMj99mdW9szfvmrdx3YI/rs:fit:512:512:1/g:ce/aHR0cHM6Ly91Y2Vt/LmVkdS5uaS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAxOC8xMi9k/ZWZhdWx0LWF2YXRh/ci5wbmc" alt=""></a></li>-->
<!--                        </div>-->
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** MENU END ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** HEADER END ***** -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <!-- ***** SECTION BANNIERE ***** -->
                <div class="main-banner">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="header-text">
                                <h4><em>Oups ! </em>Cette  adresse  ne  donne  rien</h4>
                                <div class="main-button">
                                    <a th:href="@{/connectedIndex}">Retourner à l'accueil</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** FIN SECTION BANNIERE  ***** -->
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Toutes les illustrations et
            </div>
        </div>
    </div>
</footer>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/owl-carousel.js"></script>
<script src="../static/js/custom.js"></script>


</body>

</html>
